[Unit]
Description=CyberRange Flask Application
After=network.target

[Service]
User=YOUR_USER
Group=www-data
WorkingDirectory=/home/YOUR_USER/CyberRange
Environment="PATH=/home/YOUR_USER/CyberRange/venv/bin"
ExecStart=/home/YOUR_USER/CyberRange/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
